<footer class="footer">
  <div class="footer-container">
    <!-- Sección izquierda: Logo y enlaces -->
    <div class="footer-left">
      <img src="assets/img/jf-logo-black.png" alt="Logo" class="footer-logo" />
      <nav>
        <ul class="footer-links">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/products">Productos</a></li>
          <li><a routerLink="/about">Nosotros</a></li>
          <li><a routerLink="/contact">Contacto</a></li>
        </ul>
      </nav>
    </div>

    <!-- Sección derecha: Redes sociales y contacto -->
    <div class="footer-right">
      <p>Seguinos en:</p>
      <div class="social-icons">
        <a href="#"><i class="material-icons">facebook</i></a>
        <a href="#"><i class="material-icons">instagram</i></a>
        <a href="#"><i class="material-icons">youtube</i></a>
      </div>
      <p>Contacto: info@ejemplo.com</p>
    </div>
  </div>

  <!-- Disclaimer o políticas -->
  <div class="footer-bottom">
    <p>
      &copy; 2024 JohnFoos. Todos los derechos reservados. | Políticas de
      Privacidad
    </p>
  </div>
</footer>
