.navbar {
  position: fixed;
  top: 0;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #000;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 1;
  height: 65px;

  .logo img {
    width: 200px;
  }
}

.material-icons {
  color: white;
  font-size: 35px;
}
