<div class="container mt-5">
  <div
    class="input-container col-12 d-flex align-items-center justify-content-center mb-5"
  >
    <span class="material-icons search pointer"> search </span>
    <input
      type="text"
      id="customInput"
      class="search-text"
      placeholder="Buscar productos, secciones y consultas"
    />
  </div>
  <div class="shoes-list">
    <app-shoes-item
      class="d-flex justify-content-center mb-5"
      *ngFor="let shoe of shoesList"
      [shoe]="shoe"
    ></app-shoes-item>
  </div>
</div>
